/* css Dateinen in einer Importieren*/
@import url(style-class.css);

.b2 {
    clear: right;
}

.container {
    border: 1px solid red;
}

.container>div {
    width: 100px;
    float: right;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}