.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    height: 500px;


}

.container>div:nth-of-type(2) {
    font-size: 70px;
    flex-grow: 1;

}

.container>div:nth-of-type(4) {
    /* font-size: 100px; */
    flex-grow: 1;

}

.container>div {
    background-color: turquoise;
}

.container>div {
    font-size: 10px;
}